# Виртуальные окружения
.venv/
venv/
env/

# Python (временные файлы компиляции)
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Файлы конфигурации и секреты
.env
*.db

# Временные файлы операционных систем
.DS_Store
Thumbs.db

# Логи и сборка Flet
build/
dist/
*.egg-info/
